<table class="table">
  <thead class="thead-dark">
    <tr>
      
      <th scope="col">#</th>
      <th scope="col">Actions</th>
      <th scope="col">Question</th>
      <th scope="col">Created By</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
  	<% @questions.each_with_index do |question, index| %>
	    <tr>		
	      <th scope="row"><%= index + 1 %></th>
	      <td><a href="<%= question_path(question) %>" class="btn btn-primary question"><i class="fa fa-eye"></i></a></td>
	      <td><%= question.question_title %></td>
	      <td><%= question.user.full_user_name %></td>
	      <td><%= question.created_at %></td>
	    </tr>
    <% end %>
  </tbody>
</table>
